<div class="page">
    <div class="about-header"> 
        <label class="about-header-title">About</label>
    </div>
    <div class="about-subtitle-header">
        <label class="about-subtitle-title">Work History</label>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-5">
            <mat-card class="about-card" style="margin: 0 auto">
                <mat-card-header>
                    <img mat-card-avatar src="assets/FormalPic.jpg">
                    <mat-card-title>Anthony Barba</mat-card-title>
                    <mat-card-subtitle style="color:white">Web Developer</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/IMG_0201.JPG" alt="Photo of Anthony Barba">
                <mat-card-content>
                    <p style="line-height: 1.5">
                        The design and development of an application is very important to me and I take great pride 
                        in creating not only well functioning but intriguingly designed websites. In addition to 
                        my web development skills, I have experience working in a team environment using my Communications 
                        degree from Furman University to work with clients and customers in the marketing profession 
                        before transitioning into programming. My background in web development, marketing and business 
                        allows me to not only be an asset as a developer but valuable to any team as a whole.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-7">
            <table style="width: 100%">
                <tr class="company-cards odd-box">
                    <img src="assets/yona-brixtel.jpeg" class="company-image odd">
                    <table class="company-description">
                        <thead>
                            <tr>
                                <th class="company-name">Yona-Brixtel</th>
                            </tr>
                        </thead>
                        <tbody class="role-description-box">
                            <tr>  
                                <td class="company-role">Web Developer:</td>
                            </tr>
                            <tr>
                                <td class="role-description">Helped design and build the new CEA (Compliance Enforcement Action) application for the Federal Aviation Administration using Angular, PrimeNG, CSS, HTML and C#. Worked with the API to pull user/entity information from the database and was the go to dev for new page builds and design fixes.</td>
                            </tr>
                        </tbody>
                    </table>
                </tr>
                <tr class="company-cards even-box">
                    <table class="company-description dood">
                        <thead>
                            <tr>
                                <th class="company-name">EverConvert</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>  
                                <td class="company-role">Web Developer:</td>
                            </tr>
                            <tr>
                                <td class="role-description dood">Develop and design websites for various lawyers and firms in North America primarily using WordPress, CSS, HTML and jQuery. In charge of logo design for many of the sites using Canva and Photoshop. Strong focus on SEO performance of each site utilizing tags, keywords and world class content.</td>
                            </tr>
                        </tbody>
                    </table>
                    <img src="assets/EverConvert.png" class="company-image even">
                </tr>
                <tr class="company-cards odd-box">
                    <img src="assets/aramis-interactive.png" class="company-image odd">
                    <table class="company-description">
                        <thead>
                            <tr>
                                <th class="company-name">Aramis Interactive</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>  
                                <td class="company-role">Marketing Operations Specialist & Web Developer:</td>
                            </tr>
                            <tr>
                                <td class="role-description">Handle the design, maintenance and updates for our consumer facing publisher sites using HTML, CSS, jQuery, JavaScript, PHP, XML and JSON. Build incoming campaigns that will display on our sites and make decisions on creatives to use for optimization purposes using Adobe Photoshop, HasOffers and LeadConduit. Interact with clients, partners and team members using Salesforce, Trello, Slack, HipChat and Basecamp to stay organized and up to date when implementing new builds to our sites or changing campaign information. Help build email marketing campaigns and participated in their implementation.</td>
                            </tr>
                        </tbody>
                    </table>
                </tr>
                <tr class="company-cards even-box">
                    <table class="company-description dood">
                        <thead>
                            <tr>
                                <th class="company-name">Lightcast.com / Cross Media Group </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>  
                                <td class="company-role">Web Developer:</td>
                            </tr>
                            <tr>
                                <td class="role-description">Updated and maintained website and live streaming software using PHP, AJAX, JavaScript, and MySQL and designed custom applications for clients’ WordPress sites.</td>
                            </tr>
                        </tbody>
                    </table>
                    <img src="assets/lightcast-image.png" class="company-image even">
                </tr>
            </table>
        </div>
    </div>
    <!-- <mat-grid-list cols="5" rowHeight="670px">
        <mat-grid-tile colspan="2">
            <mat-card class="about-card">
                <mat-card-header>
                    <img mat-card-avatar src="assets/FormalPic.jpg">
                    <mat-card-title>Anthony Barba</mat-card-title>
                    <mat-card-subtitle style="color:white">Web Developer</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/IMG_0201.JPG" alt="Photo of Anthony Barba">
                <mat-card-content>
                    <p style="line-height: 1.5">
                        The design and development of an application is very important to me and I take great pride 
                        in creating not only well functioning but intriguingly designed websites. In addition to 
                        my web development skills, I have experience working in a team environment using my Communications 
                        degree from Furman University to work with clients and customers in the marketing profession 
                        before transitioning into programming. My background in web development, marketing and business 
                        allows me to not only be an asset as a developer but valuable to any team as a whole.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <table>
                <tr class="company-cards odd-box">
                    <img src="assets/yona-brixtel.jpeg" class="company-image odd">
                    <table class="company-description">
                        <thead>
                            <tr>
                                <th class="company-name">Yona-Brixtel</th>
                            </tr>
                        </thead>
                        <tbody class="role-description-box">
                            <tr>  
                                <td class="company-role">Web Developer:</td>
                            </tr>
                            <tr>
                                <td class="role-description">Helped design and build the new CEA (Compliance Enforcement Action) application for the Federal Aviation Administration using Angular, PrimeNG, CSS, HTML and C#. Worked with the API to pull user/entity information from the database and was the go to dev for new page builds and design fixes.</td>
                            </tr>
                        </tbody>
                    </table>
                </tr>
                <tr class="company-cards even-box">
                    <table class="company-description">
                        <thead>
                            <tr>
                                <th class="company-name">EverConvert</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>  
                                <td class="company-role">Web Developer:</td>
                            </tr>
                            <tr>
                                <td class="role-description">Develop and design websites for various lawyers and firms in North America primarily using WordPress, CSS, HTML and jQuery. In charge of logo design for many of the sites using Canva and Photoshop. Strong focus on SEO performance of each site utilizing tags, keywords and world class content.</td>
                            </tr>
                        </tbody>
                    </table>
                    <img src="assets/EverConvert.png" class="company-image even">
                </tr>
                <tr class="company-cards odd-box">
                    <img src="assets/aramis-interactive.png" class="company-image odd">
                    <table class="company-description">
                        <thead>
                            <tr>
                                <th class="company-name">Aramis Interactive</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>  
                                <td class="company-role">Marketing Operations Specialist & Web Developer:</td>
                            </tr>
                            <tr>
                                <td class="role-description">Handle the design, maintenance and updates for our consumer facing publisher sites using HTML, CSS, jQuery, JavaScript, PHP, XML and JSON. Build incoming campaigns that will display on our sites and make decisions on creatives to use for optimization purposes using Adobe Photoshop, HasOffers and LeadConduit. Interact with clients, partners and team members using Salesforce, Trello, Slack, HipChat and Basecamp to stay organized and up to date when implementing new builds to our sites or changing campaign information. Help build email marketing campaigns and participated in their implementation.</td>
                            </tr>
                        </tbody>
                    </table>
                </tr>
                <tr class="company-cards even-box">
                    <table class="company-description">
                        <thead>
                            <tr>
                                <th class="company-name">Lightcast.com / Cross Media Group </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>  
                                <td class="company-role">Web Developer:</td>
                            </tr>
                            <tr>
                                <td class="role-description">Updated and maintained website and live streaming software using PHP, AJAX, JavaScript, and MySQL and designed custom applications for clients’ WordPress sites.</td>
                            </tr>
                        </tbody>
                    </table>
                    <img src="assets/lightcast-image.png" class="company-image even">
                </tr>
            </table>
        </mat-grid-tile>
    </mat-grid-list> -->
    <div class="personal-info-box">
        <div class="about-subtitle-header">
            <label class="about-subtitle-title" style="color:white; border-bottom:1px solid white">Personal Information</label>
        </div>
        <div style="padding: 10px 0 10px 0">
            <label class="about-subtitle-subtitle">Favorite Sports Teams:</label>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <mat-card class="personal-card">
                        <mat-card-header style="justify-content: center">
                            <mat-card-title>Dolphins</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="assets/dolphinsLogo.jpeg" alt="Photo of Anthony Barba">
                    </mat-card>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <mat-card class="personal-card">
                        <mat-card-header style="justify-content: center">
                            <mat-card-title>Mets</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="assets/metsLogo.png" alt="Photo of Anthony Barba">
                    </mat-card>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <mat-card class="personal-card">
                        <mat-card-header style="justify-content: center">
                            <mat-card-title>Rangers</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="assets/rangersLogo.jpeg" alt="Photo of Anthony Barba">
                    </mat-card>
                </div>
            </div>
        </div>
        <div style="padding: 10px 0 10px 0">
            <label class="about-subtitle-subtitle">Favorite Authors:</label>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <mat-card class="personal-card">
                        <mat-card-header style="justify-content: center">
                            <mat-card-title>Tolkien</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="assets/tolkienCover.jpeg" alt="Photo of Anthony Barba">
                    </mat-card>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <mat-card class="personal-card">
                        <mat-card-header style="justify-content: center">
                            <mat-card-title>Martin</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="assets/thronesHouses.jpeg" alt="Photo of Anthony Barba">
                    </mat-card>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <mat-card class="personal-card">
                        <mat-card-header style="justify-content: center">
                            <mat-card-title>Rowling</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="assets/potterHouses.jpeg" alt="Photo of Anthony Barba">
                    </mat-card>
                </div>
            </div>
        </div>
        <div style="padding: 10px 0 10px 0">
            <label class="about-subtitle-subtitle">Favorite Music Artists:</label>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <mat-card class="personal-card">
                        <mat-card-header style="justify-content: center">
                            <mat-card-title>MCR</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="assets/myChemLogo.jpeg" alt="Photo of Anthony Barba">
                    </mat-card>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <mat-card class="personal-card">
                        <mat-card-header style="justify-content: center">
                            <mat-card-title>Eminem</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="assets/eminemCover.jpeg" alt="Photo of Anthony Barba">
                    </mat-card>
                </div>
                <div class="ui-g-12 ui-md-4 ui-lg-4">
                    <mat-card class="personal-card">
                        <mat-card-header style="justify-content: center">
                            <mat-card-title>The Killers</mat-card-title>
                        </mat-card-header>
                        <img mat-card-image src="assets/killersCover.jpeg" alt="Photo of Anthony Barba">
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

