.page {
    
}
.projects-header {
    width: 98%;
    margin: 0 auto;
    margin-top: 1em;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 5px 0 5px 15px;
}
.projects-header-title {
    font-size: 30px;
    color: black;
    font-weight: bold;
}
:host::ng-deep .mat-grid-tile .mat-figure {
    margin-top: 20px;
    align-items: flex-start;
 }
.project-border {
    width: 250px;
    margin: 0 auto;
}
.project-image {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px #888888;
    margin-bottom: 5px;
}
.project-labels {
    font-weight: bold;
}
