<div class="page">
    <div class="projects-header"> 
        <label class="projects-header-title">Projects</label>
    </div>
    <!-- <mat-grid-list cols="4" rowHeight="560px">
        <mat-grid-tile colspan="1">
            <div class="project-border">
                <a href="https://freebies.shareyourfreebies.com/" target="_blank">
                    <img class="project-image" src="assets/shareYourFreebies.jpeg">
                </a>
                <label class="project-labels">Share Your Freebies</label>
                <p>
                    Dedicated to delivering the best product discounts, Share Your Freebies was the highest performing 
                    digital marketing site for Aramis Interactive. I helped create the sales funnel in the "Get Freebies"
                    section that optimized which products display to certain clients based on their feedback. 
                </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <div class="project-border">
                <a href="https://charlestonduiguy.com/" target="_blank">
                    <img class="project-image" src="assets/duiGuy.jpeg">
                </a>  
                <label class="project-labels">Charleston DUI Guy</label>
                <p>
                    Heavily SEO focused, the primary goal of these "DUI Guy" sites is to be the first search 
                    result to appear for people looking for DUI lawyers in their area. This particular site is used 
                    to assist the law firm we partnered with to attract clients currently involved in DUI cases in 
                    the Charleston area. 
                </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <div class="project-border">
                <a href="https://get.topsweeps.com/" target="_blank">
                    <img class="project-image" src="assets/topSweeps.jpg">
                </a>
                <label class="project-labels">Top Sweeps</label>
                <p>
                    In exchange for a chance to enter and win our sweepstakes and giveaways, TopSweeps offered 
                    customers a variety of product and service deals. Utilizing our optimized sales funnel, we 
                    were able to present each user with a customized list of items that would appeal most to them. 
                </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <div class="project-border">
                <a href="http://www.cross.tv/" target="_blank">
                    <img class="project-image" src="assets/crossTV.jpeg">
                </a>
                <label class="project-labels">Cross TV</label>
                <p>
                    The live streaming platform for Lightcast.com, Cross.tv streamed church services accross the country
                    for those patrons who could not attend in person. The site also created channels for each church allowing 
                    users to easily search for and watch servives from their own congregation.  
                </p>
            </div>
        </mat-grid-tile>
    </mat-grid-list> -->

    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="project-border">
                <a href="https://freebies.shareyourfreebies.com/" target="_blank">
                    <img class="project-image" src="assets/shareYourFreebies.jpeg">
                </a>
                <label class="project-labels">Share Your Freebies</label>
                <p>
                    Dedicated to delivering the best product discounts, Share Your Freebies was the highest performing 
                    digital marketing site for Aramis Interactive. I helped create the sales funnel in the "Get Freebies"
                    section that optimized which products display to certain clients based on their feedback. 
                </p>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="project-border">
                <a href="https://charlestonduiguy.com/" target="_blank">
                    <img class="project-image" src="assets/duiGuy.jpeg">
                </a>  
                <label class="project-labels">Charleston DUI Guy</label>
                <p>
                    Heavily SEO focused, the primary goal of these "DUI Guy" sites is to be the first search 
                    result to appear for people looking for DUI lawyers in their area. This particular site is used 
                    to assist the law firm we partnered with to attract clients currently involved in DUI cases in 
                    the Charleston area. 
                </p>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="project-border">
                <a href="https://get.topsweeps.com/" target="_blank">
                    <img class="project-image" src="assets/topSweeps.jpg">
                </a>
                <label class="project-labels">Top Sweeps</label>
                <p>
                    In exchange for a chance to enter and win our sweepstakes and giveaways, TopSweeps offered 
                    customers a variety of product and service deals. Utilizing our optimized sales funnel, we 
                    were able to present each user with a customized list of items that would appeal most to them. 
                </p>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="project-border">
                <a href="http://www.cross.tv/" target="_blank">
                    <img class="project-image" src="assets/crossTV.jpeg">
                </a>
                <label class="project-labels">Cross TV</label>
                <p>
                    The live streaming platform for Lightcast.com, Cross.tv streamed church services accross the country
                    for those patrons who could not attend in person. The site also created channels for each church allowing 
                    users to easily search for and watch servives from their own congregation.  
                </p>
            </div>
        </div>
    </div>
</div>

