<div class="page">
    <div class="contact-header"> 
        <label class="contact-header-title">Contact</label>
    </div>
    <!-- <mat-grid-list cols="1" rowHeight="560px">
        <mat-grid-tile colspan="1">
            <div class="background-image">
                <div class="contact-text-box">
                    <label class="contact-intro">I'd love to hear from you!</label>
                    <p>Whether you're a business looking to build a professional relationship or a fellow developer wanting to connect, feel free to reach out to me by clicking the button below.</p>
                    <button mat-raised-button color="primary"><a href="mailto:abarba222@gmail.com">Get In Touch</a></button>
                </div>       
            </div>
        </mat-grid-tile>   
    </mat-grid-list> -->

    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12" style="margin: 55px 0 55px 0">
            <div class="background-image">
                <div class="contact-text-box">
                    <label class="contact-intro">I'd love to hear from you!</label>
                    <p>Whether you're a business looking to build a professional relationship or a fellow developer wanting to connect, feel free to reach out to me by clicking the button below.</p>
                    <button mat-raised-button color="primary"><a href="mailto:abarba222@gmail.com">Get In Touch</a></button>
                </div>       
            </div>
        </div>   
    </div>
</div>

